**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/.idea
**/npm-debug.log
**/coverage*
**/.env
**/.editorconfig
**/.aws
**/dist
**/build
**/.output
**/output
.dockerignore
docker-compose*
.gitignore
Dockerfile*
Jenkinsfile*
helm-charts
Makefile
.angular